.snakemake/
workflows/.snakemake/
results/
data/
*.log
*.bam
*.bai
*.paf
*.mmi
*.fastq.gz
*.fq.gz
*.bam
*.bai
*.paf
busco_downloads/
pilon_out/
flye_*/
.snakemake/
results/
data/
*.log
.snakemake_archive/
*.txt
